# Constraints for Papilio Duo + Logicstart
Net switch_0 LOC = "P116" | IOSTANDARD=LVTTL;
NET switch_1 LOC = "P117" | IOSTANDARD=LVTTL;
NET switch_2 LOC = "P118" | IOSTANDARD=LVTTL;
NET switch_3 LOC = "P119" | IOSTANDARD=LVTTL;
NET switch_4 LOC = "P120" | IOSTANDARD=LVTTL;
NET switch_5 LOC = "P62"  | IOSTANDARD=LVTTL;
NET switch_6 LOC = "P59"  | IOSTANDARD=LVTTL;
NET switch_7 LOC = "P57"  | IOSTANDARD=LVTTL;
NET LED_0    LOC = "P55"  | IOSTANDARD=LVTTL;
NET LED_1    LOC = "P50"  | IOSTANDARD=LVTTL;
NET LED_2    LOC = "P47"  | IOSTANDARD=LVTTL;
NET LED_3    LOC = "P121" | IOSTANDARD=LVTTL;
NET LED_4    LOC = "P123" | IOSTANDARD=LVTTL;
NET LED_5    LOC = "P124" | IOSTANDARD=LVTTL;
NET LED_6    LOC = "P126" | IOSTANDARD=LVTTL;
NET LED_7    LOC = "P127" | IOSTANDARD=LVTTL;